*{
	font-family: Arial;
	margin: 0;
	padding: 0;
}

#titulo{
	margin: 20px auto;
	text-align: center;
	/*background-color: purple;*/
	font-family: Arial;
}

#categorias{
	width: 95%;
	height:50px;
	padding: 0;
}


#box_arbitros{
	background-color: blue;
	width: 100%;
	height: 800px;
}

#selector_arbitros{
	width: 500px;
	height: 100px;
	margin-left: 150px;
}
/* #cmbx-competidor select{
	margin-left: 50px;
	margin-top: 30px;
	margin-bottom: 40px;
	width: 300px;
	height: 30px;

} */
/* 
.btn-agregar{
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 40px;
	float: right;
	width:100px;
	height: 30px;
	border-radius: 0.3em;
	background-color: #ccfa9e;

}

/*#boton-comp{
	float: right;
}

table{
 	width: 100%;
   text-align: left;
   border-collapse:collapse;
   margin: 0 0 1em 0;
	border: 2px red;
	padding: 0;
}

th{
	text-align: center;
	font-size: 20px;
	background-color: #cc3333;
	color: white;
}

tr{
	width: 400px;
	height: 1px;
	border: 2px solid red;

}

td{ 
	white-space:nowrap; 
	border-top: 2px solid red;

}



/*#div-arbitro select{
	width: 300px;
	height: 30px;
	margin-left: 50px;
	margin-top: 30px;
	margin-bottom: 40px;
}


#tabla-arb{
	margin: auto;
}

.btn-eliminar{
	width:100px;
	height: 30px;
	position: relative;
	left: 81%;
	top: -18px;
	padding: 0;
	margin-right:10px;
	border-radius: 0.3em;
	background-color: #ff6666 ;
}

p{
	margin-top: 15px;
	margin-left: 20px;
	padding: 0;

}

tr:hover{
	background-color: #cccccc;
	color: #cc0003;
}
#data-comp{
	display: inline;
} */



